body {
  background-image: url("https://cdn.wallpapersafari.com/91/2/A5ca6M.jpg");
  /* background-image: url("https://www.teahub.io/photos/full/5-56385_wakeboarding-wakeboard-sports-wallpapers-hd-desktop-wakeboard-wallpaper.jpg"); */
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  position: relative;
  text-align: center;
  background-attachment: fixed;
}
.maindiv {
  background-color: rgb(255, 220, 225, 0.5);
  margin-top: 2vw;
  padding-top: 2vw;
  color: rgb(190, 27, 109);
}
.Sportlist {
  margin-left: 10vw;
  text-align: center;
  padding: 2vw;
  display: grid;
  grid-template-columns: repeat(4, 18vw);
  text-decoration: none;
}
.additional {
  margin: 3vw;
}
.Sportlist {
  font-size: 2.2vw;
  text-decoration: none;
  text-align: center;
}
.homeButton,
.homeButton::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.homeButton {
  /* background: none; */
  background-color: rgba(255, 253, 253, 0.6);
  border: 4px solid rgb(190, 27, 109);
  border-radius: 10px;
  color: rgb(0, 130, 195);
  padding-bottom: -1vw;
  font-size: 0.8vw 0.8vw;
  font-weight: bold;
  margin-bottom: 10vw;
  padding: 1vw 2vw;
  position: relative;
  text-transform: uppercase;
  box-shadow: 1px 5px 10px 6px rgb(251, 192, 21);
  cursor: pointer;
}

.inline {
  margin-top: 10vw;
  font-size: 1vw;
}

.homeButton::before,
.homeButton::after {
  background: rgb(251, 192, 21);
  content: "";
  position: absolute;
  z-index: -1;
}
.homeButton::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}
.homeButton:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.homeButton:hover {
  color: white;
  background-color: rgb(255, 191, 0);
}

.icon {
  width: 34vw;
  margin-top: -5vw;
  margin-bottom: -10vw;
}
.submitText {
  margin: 1vw;
  color: rgb(190, 27, 109);
  background-color: rgb(255, 220, 225, 0.7);
  text-align: center;
  display: inline-flex;
  padding: -2vw;
}
.listOfSports {
  background-color: rgb(255, 220, 225, 0.5);
  color: rgb(190, 27, 109);
  display: inline-flex;
}
.h4 {
  color: rgb(82, 109, 195);
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 2vw;
  padding: 2vw;
}
.sportsButton {
  border-radius: 2vw;
  font-size: 1.2vw;
}

.sportsButton:hover {
  color: rgb(3, 3, 3);
  box-shadow: inset 0 0 0 100px hsl(194, 100%, 71%);
}
.sportsHeader {
  background-color: rgb(255, 220, 225, 0.5);
  color: rgb(190, 27, 109);
  text-shadow: 0 0 3px #7ebaff;
  margin-top: 3vw;
}
.sportsInfo {
  color: rgb(42, 78, 199);
  text-shadow: 0 0 3px #ff0000;
  margin-top: 8vw;
  background-color: rgb(255, 220, 225, 0.3);
}
.input {
  box-shadow: 1px 5px 10px 2px rgb(251, 192, 21);
  border-radius: 0.4vw;
  font-size: 1.6vw;
}
::placeholder {
  color: rgb(128, 154, 240);
  opacity: 1;
}
.Submit {
  box-shadow: 1px 5px 10px 2px rgb(251, 192, 21);
  border-radius: 1vw;
  cursor: pointer;
  font-size: 1.6vw;
  font-weight: 70vw;
  color: rgb(128, 154, 240);
  background-color: white;
  border-width: solid turquoise;
  transition: all 0.2s;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  background-color: rgb(255, 248, 252);
}
.Submit:hover {
  background: turquoise;
  color: white;
}
.searchResults {
  margin: 22vw 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.groupOfSports {
  color: rgb(190, 27, 109);
  display: inline-flex;
  padding: 0.2vw auto;
  margin-bottom: 2rem;
  padding: 1rem;
}
.click {
  color: rgb(82, 109, 195);
  text-decoration: none;
  box-shadow: 1px 5px 10px 2px rgb(251, 192, 21);
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bolder;
}
.test {
  color: rgb(82, 109, 195);
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 2rem;
  text-shadow: 0 0 3px #ff0000;
  font-size: 1.6vw;
}
.testConcept {
  margin-bottom: -15vw;
  font-size: 3vw;
}
.exampleText {
  background-color: rgb(255, 220, 225, 0.5);
}
.SportsImg {
  margin: 0 auto;
  height: 50vw;
  text-align: center;
}
.Sportlist {
  padding-bottom: 4vw;
}
.carousel-control-next-icon {
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid black;
}
.carousel-control-prev-icon {
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid black;
}
