body {
  background-image: url("https://i.pinimg.com/736x/3f/06/54/3f06540cad06c6b33fa935faef27ba39.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  position: relative;
  text-align: center;
  background-attachment: fixed;
}
.maindiv {
  background-color: rgb(255, 220, 225, 0.5);
  margin-top: 2vw;
  padding-top: 2vw;
}
.Sportlist {
  margin-left: 8vw;
  text-align: center;
  padding: 2vw;
  display: flex;
  font-size: 1.5vw;
  display: grid;
  grid-template-columns: repeat(4, 18vw);
}
.additional {
  margin: 3vw;
}
.Sportlist {
  font-size: 2.2vw;
  text-decoration: none;
  text-align: center;
}
